html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #018a42;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.wrap {
	margin: 0;
	min-width: 1215px;
	padding: 0;
	width: 100%;
}

.wrap-panel {
   width: 1215px;
   margin: 0 auto;
   padding: 0;
   position: relative;
}

/*.wrap-panel:before,
.wrap-panel:after {
   clear: both;
   display: block;
   content: '';
   width: 1px;
   height: 100%;
   position: absolute;
   top: 0;
   background: yellow;
}

.wrap-panel:before { left: 0; }
.wrap-panel:after { right: 0; }
*/
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }

.group:after {
   clear: both;
	content: '';
	display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#header {
	background: #018a42;
	border-bottom: 6px solid #0b6435;
	position: fixed;
    left: 0;
    right: 0;
	top: 0;
/*	width: 100%;*/
	z-index: 2;

/*
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
*/
}

.top-header {
	padding: 13px 0;
	position: relative;
	z-index: 3;
   
   -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* notice */
.notice-bar {
	float: left;
	margin-top: 7px;
	padding-left: 57px;
	width: 265px;
   
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.notice-icon {
	float: left;
	width: 21px;
	position: relative;
}

.notice-icon .icon-bell {
	background: url(../images/icon-bell.png) top center no-repeat;
	display: block;
	height: 19px;
	position: relative;
	width: 21px;
	z-index: 1;
}

.notice-icon .notice-counter {
	background: red;
	border-radius: 50%;
	bottom: -4px;
	color: #fff;
	display: block;
	font: 10px/12px Arial;
	position: absolute;
	right: -6px;
	text-align: center;
	width: 12px;
	z-index: 2;
}

/* date time */
.date-time span {
	color: #fff;
	float: left;
	font: 700 12px/19px Arial;
	margin-left: 10px;
}

/* notice list */
.notice-list {
	background: #000;
	float: left;
	height: 20px;
	margin-top: 7px;
	padding: 0 8px;
	position: relative;
	width: 627px;
   
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.notice-wrap {
	position: relative;
	overflow: hidden;
}

.notice-list ul {
	left: 611px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 2000em;
}

.notice-list ul li {
	color: #fff;
	float: left;
	font-size: 11px;
	line-height: 20px;
	margin-right: 5px;
}

/* flag */
.flag-wrap {
	width: 41px;
	height: 24px;
	background: #000;
	float: left;
	padding: 1px 0 0 1px;
	position: relative;
	margin: 5px 0 0 16px;
	cursor: pointer;
   
    -webkit-transform: 0.3s linear;
    transform: 0.3s linear;
}

.flag-wrap:after {
	border-color: #ffffff transparent transparent transparent;
	border-style: solid;
	border-width: 4px 4.5px 0 4.5px;
	clear: both;
	content: '';
	display: block;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
}

.flag-wrap span {
	width: 28px;
	display: block;
}

.flag-wrap span img {
	display: block;
	margin: 0;
	max-height: 100%;
}

.flag-wrap ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 28px;
	position: absolute;
	top: 110%;
	left: 1px;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.flag-wrap ul li {
	display: block;
	border-top: 2px solid #000;
}

.flag-wrap ul li a {
	display: inline;
}

.flag-wrap ul li a img {
	display: block;
	margin: 0;
	max-width: 100%;
}

.flag-wrap.active ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
}

/* login join btn*/
.header-btn {
	float: right;
}

.header-btn a {
	float: left;
	width: 128px;
	font: 700 14px/36px Arial;
	color: #fff;
	text-align: center;
	text-decoration: none;

	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.header-btn a.login {
	background: #fff;
	color: #000;
}

.header-btn a.join {
	background: #ffbf00;
	margin-left: 5px;
}

.header-btn a.login:hover { box-shadow: 0 0 10px #fff; }
.header-btn a.join:hover { box-shadow: 0 0 10px #ffbf00; }

.main-header {
	border-top: 1px solid #fff;
	position: relative;
}

.main-wrap {
	z-index: 2;
}

/* logo */
.logo {
   float: left;
   margin-top: 39px;

  	-webkit-transition: 0.3s ease-out;
  	transition: 0.3s ease-out;
}

.logo img {
   display: block;
   margin: 0;
}

/* navigaton */
.nav {
   float: right;
}

.nav ul {
   display: block;
   margin: 0;
   padding: 0;
   list-style: none;
}

.nav ul li {
   float: left;
   margin: 0;
   padding: 18px 0 16px;
   width: 100px;
   text-align: center;
   position: relative;
   transition: 0.3s linear;
}

.nav ul li.active,
.nav ul li:hover {
   background: #017028;
}

.nav ul li.active:after,
.nav ul li:hover:after {
	width: 100%;
}


.nav ul li a {
   display: inline-block;
   text-decoration: none;
}

.nav ul li a .img-wrap {
   display: table-cell;
   width: 100px;
   height: 60px;
   vertical-align: bottom;
   text-align: center;
}

.nav ul li a img {
   display: block;
   margin: 0 auto;

   -webkit-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);

	-webkit-transition: 0.3s ease-out ; 
	transition: 0.3s ease-out ; 
}

.nav ul li a span {
   display: block;
   color: #fff;
   text-transform: uppercase;
   font-size: 11px;
   margin-top: 21px;
   text-shadow: 0 1px 1px #000;
    
   -webkit-transition: 0.3s linear;
   transition: 0.3s linear;
}

.nav ul li:hover img {
	-webkit-transform: scale(1.1) rotate(4deg);
	transform: scale(1.1) rotate(4deg); 
}

.nav ul li.hasUpdate:after {
	background: red;
	border-radius: 10px;
	clear: both;
	color: #fff;
	content: '!';
	display: block;	
	font-size: 13px;
	font-weight: 700;
	height: 19px;
	line-height: 19px;
	width: 19px;
	position: absolute;
	bottom: 58px;
	right: 20px;
   
   -webkit-transition: 0.3s ease-out;
   transition: 0.3s ease-out;
}

.nav ul li.hasUpdate.animate:after {
	animation: hvr-icon-buzz-out 1s linear infinite;
}

.nav ul li.slot.hasUpdate:after {
	right: 8px;
}

.nav ul li.hasUpdate:hover:after {
	animation: none;
}

/* submenu*/
.submenu {
	background: #027129;
	border-bottom: 3px solid #f9bc04;
	overflow: hidden;
	width: 100%;
	height: 183px;
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 1;
	display: none;
}

.lottery-submenu {
	padding-left: 16px;
}

.lottery-qr {
	float: left;
	width: 370px;
	margin-top: 35px;
}

.lottery-qr img {
	float: left;
	margin: 0;
}

.lottery-qr .qr-desc {
	float: left;
	width: 237px;
	color: #fff;
	padding-left: 15px;
	padding-top: 10px;
}

.lottery-qr .qr-desc span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	line-height: 20px;
}

.lottery-qr .qr-desc p {
	margin: 0;
	font-size: 11px;
	line-height: 16px;
}

ul.submenu-list {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.submenu-list li {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	text-align: center;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li .li-cell {
	display: table-cell;
	width: 250px;
	height: 180px;
	vertical-align: middle;
}

ul.submenu-list li span {
	display: block;
	font-size: 43px;
	font-weight: 700;
	color: #fff;
	line-height: normal;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li a {
	display: block;
	font-size: 11px;
	color: #fff;
	width: 104px;
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
	background: #017028;
	text-decoration: none;
	position: relative;
	top: 23px;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li.active,
ul.submenu-list li:hover {
	background: #f9bc04;
}

ul.submenu-list li.active a,
ul.submenu-list li:hover a {
	opacity: 1;
	visibility: visible;
}

ul.submenu-list li.active span ,
ul.submenu-list li:hover span{
	color: #017129;
}

/* fixed header */
.fixed { 
   border-bottom: 3px solid #0b6435 !important;
/*   background: rgba(1, 138, 66,0.9) !important;*/
}

.fixed .top-header {
   padding: 5px 0;
}

.fixed .notice-list,
.fixed .notice-bar {
   margin-top: 5px;
}

.fixed .flag-wrap {
   margin-top: 3px;
}

.fixed .header-btn a {
   line-height: 30px;
}

.fixed .logo {
	margin-top: 9px;
}

.fixed .nav ul li {
	padding: 3px 0 3px;
}

.fixed .nav ul li a img {
	-webkit-transform: scale(0.6) rotate(0deg);
	transform: scale(0.6) rotate(0deg);
}

.fixed .nav ul li:hover img {
	-webkit-transform: scale(0.7) rotate(3deg);
	transform: scale(0.7) rotate(3deg);
}

.fixed .nav ul li a span {
	margin-top: 3px;
}

.fixed .nav ul li.hasUpdate:after {
   bottom: 40px;
}

/* container */
#container { 
	margin-top: 208px;
	position: relative;
	z-index: 1;
}

/* page lottery */
.page-lottery {
	background: url(../images/bg-lottery.jpg) top center repeat-x;
	padding-bottom: 214px;
}

.lottery-content {
	width: 430px;
}

.lottery-content h2 {
	color: #fff;
	font-size: 92px;
	font-weight: 700;
	line-height: 83px;
	margin: 0 0 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.lottery-content p {
	font-size: 18px;
	color: #fff;
	line-height: 22px;
	margin: 0 0 30px;
}

.lottery-content .lottery-btn {
	background: #ffbf00;
	color: #fff;
	font: 700 20px Arial;
	max-width: 262px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 62px;
	box-shadow: none;
	transition: 0.2s ease-out;
}

.lottery-content .lottery-btn:hover {
	box-shadow: 4px 4px 0 rgba(255,191,0,0.3);
	text-shadow: 1px 1px 0px #000;
}

#lotto { padding-top: 150px; }
#lotto .lottery-content { float: right; }

#keno { padding-top: 256px; }
#keno .lottery-content { margin-left: 118px; }

#ilotto { padding-top: 372px; }
#ilotto .lottery-content { float: right; }

.ilotto-result {
	float: left;
	font-size: 0;
	margin-left: 77px;
	margin-top: 60px;
	text-align: center;
	width: 580px;
}

.ilotto-result div {
	background: url(../images/ilotto-bg.png) center no-repeat;
	color: #fff;
	display: inline-block;
	font: 51px Impact, Charcoal, sans-serif;
	height: 153px;
	width: 146px;
	padding: 26px 0 0 27px;
	margin: 0 -18px;
}

.ilotto-result div span {
	display: table-cell;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 89px;
}

/* footer */
#footer {
	background: #007028;
	padding-top: 46px;
	padding-bottom: 30px;
	position: relative;
	z-index: 1;
}

#footer .ftr-left { float: left; }
#footer .ftr-right { 
	float: right; 
	margin-right: 115px;
}

#footer p {
	font-size: 11px;
	color: #acacac;
	margin: 0 0 10px 18px;
}

#footer img {
	display: block;
	margin: 0;
}

/* popup */
body.login {
   background: none;
}

#login {
   background: #1c5e49;
   border: thin solid #fff;
   border-top: 5px solid #fff;
   width: 515px;
   margin: 0 auto;
   padding: 20px;
}

.login-banner {
   float: left;
}

.login-banner img {
   display: block;
   margin: 0;
}

.login-form {
   margin: 5px 5px 0 0;
   padding: 22px 0 0 28px;
   float: right;
   border-left: thin solid #000;
}

.login-form ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.login-form li {
   display: block;
   margin: 0 0 5px;
   padding: 0;
}

.login-form li .txtField {
   background: #fff;
   font: 700 12px Arial;
   width: 176px;
   border: none;
   display: block;
   margin: 0;
   padding: 6px 5px;
   outline: 0 !important;
   color: #000 ;
}

.login-form li .txtField::-webkit-input-placeholder {  color: #000; }
.login-form li .txtField::-moz-placeholder {  color: #000; }
.login-form li .txtField:-ms-input-placeholder {  color: #000; }
.login-form li .txtField:-moz-placeholder {  color: #000; }

.login-form li .login-btn {
   background: #ffbf00;
   color: #fff;
   font: 700 12px Arial;
   text-align: center;
   width: 176px;
   border: none;
   outline: 0 !important;
   line-height: 37px;
   margin-top: 11px;
   letter-spacing: 1px;
}

.login-form li.inline {
   padding-top: 5px;
   text-align: center;
}

.login-form li.inline #remember,
.login-form li.inline a {
   display: inline-block;
}

.login-form li.inline a {
   color: #fff;
   font: 700 12px Arial;
   text-decoration: none;
   position: relative;
   top: -3px;
}

/* key frames animattion */
@-webkit-keyframes hvr-icon-buzz-out {
  10% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  20% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
   }
  30% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  40% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
   }
  50% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  60% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  70% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  80% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  90% {
   	-webkit-transform: translateX(1px) rotate(0);
   	transform: translateX(1px) rotate(0);
   }
  100% {
   	-webkit-transform: translateX(-1px) rotate(0);
   	transform: translateX(-1px) rotate(0);
   }
}
@keyframes hvr-icon-buzz-out {
  10% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  20% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
  	}
  30% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
  	}
  40% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
  	}
  50% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
  	}
  60% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  70% {
  		-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  80% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  90% {
   	-webkit-transform: translateX(1px) rotate(0);
   	transform: translateX(1px) rotate(0);
   }
  100% {
   	-webkit-transform: translateX(-1px) rotate(0);
   	transform: translateX(-1px) rotate(0);
   }
}
