html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #018a42;
	font-family: Tahoma,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.wrap {
	margin: 0;
	min-width: 1215px;
	padding: 0;
	width: 100%;
}

.wrap-panel {
   width: 1215px;
   margin: 0 auto;
   padding: 0;
   position: relative;
}

/*.wrap-panel:before,
.wrap-panel:after {
   clear: both;
   display: block;
   content: '';
   width: 1px;
   height: 100%;
   position: absolute;
   top: 0;
   background: yellow;
}

.wrap-panel:before { left: 0; }
.wrap-panel:after { right: 0; }
*/
.clear { clear: both; }
.fl { float: left; }
.fr { float: right; }

.group:after {
   clear: both;
	content: '';
	display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.text-red { color: red; }

#header {
	background: #018a42;
	border-bottom: 6px solid #0b6435;
	position: fixed;
    left: 0;
    right: 0;
	top: 0;
/*	width: 100%;*/
	z-index: 10;

/*
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
*/
}

.top-header {
	padding: 13px 0;
	position: relative;
	z-index: 3;

   -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* notice */
.notice-bar {
	float: left;
	margin-top: 7px;
	padding-left: 57px;
	width: 265px;

    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.notice-icon {
	float: left;
	width: 21px;
	position: relative;
}

.notice-icon .icon-bell {
	background: url(../images/icon-bell.png) top center no-repeat;
	display: block;
	height: 19px;
	position: relative;
	width: 21px;
	z-index: 1;
}

.notice-icon .notice-counter {
	background: red;
	border-radius: 50%;
	bottom: -4px;
	color: #fff;
	display: block;
	font: 10px/12px Arial;
	position: absolute;
	right: -6px;
	text-align: center;
	width: 12px;
	z-index: 2;
}

/* date time */
.date-time span {
	color: #fff;
	float: left;
	font: 700 12px/19px Arial;
	margin-left: 10px;
}

/* notice list */
.notice-list {
	background: #000;
	float: left;
	height: 20px;
	margin-top: 7px;
	padding: 0 8px;
	position: relative;
	width: 627px;

    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.notice-wrap {
	position: relative;
	overflow: hidden;
}

.notice-list ul {
	left: 611px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 2000em;
}

.notice-list ul li {
	color: #fff;
	float: left;
	font-size: 11px;
	line-height: 20px;
	margin-right: 5px;
}

/* flag */
.flag-wrap {
	width: 41px;
	height: 24px;
	background: #000;
	float: left;
	padding: 1px 0 0 1px;
	position: relative;
	margin: 5px 0 0 16px;
	cursor: pointer;

    -webkit-transform: 0.3s linear;
    transform: 0.3s linear;
}

.flag-wrap:after {
	border-color: #ffffff transparent transparent transparent;
	border-style: solid;
	border-width: 4px 4.5px 0 4.5px;
	clear: both;
	content: '';
	display: block;
	height: 0;
	margin-top: -2px;
	position: absolute;
	right: 2px;
	top: 50%;
	width: 0;
}

.flag-wrap span {
	width: 28px;
	display: block;
}

.flag-wrap span img {
	display: block;
	margin: 0;
	max-height: 100%;
}

.flag-wrap ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 28px;
	position: absolute;
	top: 110%;
	left: 1px;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.flag-wrap ul li {
	display: block;
	border-top: 2px solid #000;
}

.flag-wrap ul li a {
	display: inline;
}

.flag-wrap ul li a img {
	display: block;
	margin: 0;
	max-width: 100%;
}

.flag-wrap.active ul {
	top: 100%;
	opacity: 1;
	visibility: visible;
}

/* login join btn*/
.header-btn {
	float: right;
}

.header-btn a {
	float: left;
	width: 128px;
	font: 700 14px/36px Arial;
	color: #fff;
	text-align: center;
	text-decoration: none;

	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.header-btn a.login {
	background: #fff;
	color: #000;
}

.header-btn a.join {
	background: #ffbf00;
	margin-left: 5px;
}

.header-btn a.login:hover { box-shadow: 0 0 10px #fff; }
.header-btn a.join:hover { box-shadow: 0 0 10px #ffbf00; }

.main-header {
	border-top: 1px solid #fff;
	position: relative;
}

.main-wrap {
	z-index: 2;
}

/* logo */
.logo {
   float: left;
   margin-top: 39px;

  	-webkit-transition: 0.3s ease-out;
  	transition: 0.3s ease-out;
}

.logo img {
   display: block;
   margin: 0;
}

/* navigaton */
.nav {
   float: right;
}

.nav ul {
   display: block;
   margin: 0;
   padding: 0;
   list-style: none;
}

.nav ul li {
   float: left;
   margin: 0;
   padding: 18px 0 16px;
   width: 100px;
   text-align: center;
   position: relative;
   transition: 0.3s linear;
}

.nav ul li.active,
.nav ul li:hover {
   background: #017028;
}

.nav ul li.active:after,
.nav ul li:hover:after {
	width: 100%;
}


.nav ul li a {
   display: inline-block;
   text-decoration: none;
}

.nav ul li a .img-wrap {
   display: table-cell;
   width: 100px;
   height: 60px;
   vertical-align: bottom;
   text-align: center;
}

.nav ul li a img {
   display: block;
   margin: 0 auto;

   -webkit-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);

	-webkit-transition: 0.3s ease-out ;
	transition: 0.3s ease-out ;
}

.nav ul li a span {
   display: block;
   color: #fff;
   text-transform: uppercase;
   font-size: 11px;
   margin-top: 21px;
   text-shadow: 0 1px 1px #000;

   -webkit-transition: 0.3s linear;
   transition: 0.3s linear;
}

.nav ul li:hover img {
	-webkit-transform: scale(1.1) rotate(4deg);
	transform: scale(1.1) rotate(4deg);
}

.nav ul li.hasUpdate:after {
	background: red;
	border-radius: 10px;
	clear: both;
	color: #fff;
	content: '!';
	display: block;
	font-size: 13px;
	font-weight: 700;
	height: 19px;
	line-height: 19px;
	width: 19px;
	position: absolute;
	bottom: 58px;
	right: 20px;

   -webkit-transition: 0.3s ease-out;
   transition: 0.3s ease-out;
}

.nav ul li.hasUpdate.animate:after {
	animation: hvr-icon-buzz-out 1s linear infinite;
}

.nav ul li.slot.hasUpdate:after {
	right: 8px;
}

.nav ul li.hasUpdate:hover:after {
	animation: none;
}

/* submenu*/
.submenu {
	background: #027129;
	border-bottom: 3px solid #f9bc04;
	overflow: hidden;
	width: 100%;
	height: 183px;
	top: 100%;
	left: 0;
	position: absolute;
	z-index: 1;
	display: none;
}

.lottery-submenu {
	padding-left: 16px;
}

.lottery-qr {
	float: left;
	width: 370px;
	margin-top: 35px;
}

.lottery-qr img {
	float: left;
	margin: 0;
}

.lottery-qr .qr-desc {
	float: left;
	width: 237px;
	color: #fff;
	padding-left: 15px;
	padding-top: 10px;
}

.lottery-qr .qr-desc span {
	font-size: 12px;
	font-weight: 700;
	display: block;
	line-height: 20px;
}

.lottery-qr .qr-desc p {
	margin: 0;
	font-size: 11px;
	line-height: 16px;
}

ul.submenu-list {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.submenu-list li {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	text-align: center;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li .li-cell {
	display: table-cell;
	width: 250px;
	height: 180px;
	vertical-align: middle;
}

ul.submenu-list li span {
	display: block;
	font-size: 43px;
	font-weight: 700;
	color: #fff;
	line-height: normal;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li a {
	display: block;
	font-size: 11px;
	color: #fff;
	width: 104px;
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
	background: #017028;
	text-decoration: none;
	position: relative;
	top: 23px;
	opacity: 0;
	visibility: hidden;

	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

ul.submenu-list li.active,
ul.submenu-list li:hover {
	background: #f9bc04;
}

ul.submenu-list li.active a,
ul.submenu-list li:hover a {
	opacity: 1;
	visibility: visible;
}

ul.submenu-list li.active span ,
ul.submenu-list li:hover span{
	color: #017129;
}

/* fixed header */
.fixed {
   border-bottom: 3px solid #0b6435 !important;
/*   background: rgba(1, 138, 66,0.9) !important;*/
}

.fixed .top-header {
   padding: 5px 0;
}

.fixed .notice-list,
.fixed .notice-bar {
   margin-top: 5px;
}

.fixed .flag-wrap {
   margin-top: 3px;
}

.fixed .header-btn a {
   line-height: 30px;
}

.fixed .logo {
	margin-top: 9px;
}

.fixed .nav ul li {
	padding: 3px 0 3px;
}

.fixed .nav ul li a img {
	-webkit-transform: scale(0.6) rotate(0deg);
	transform: scale(0.6) rotate(0deg);
}

.fixed .nav ul li:hover img {
	-webkit-transform: scale(0.7) rotate(3deg);
	transform: scale(0.7) rotate(3deg);
}

.fixed .nav ul li a span {
	margin-top: 3px;
}

.fixed .nav ul li.hasUpdate:after {
   bottom: 40px;
}

/* container */
#container {
	margin-top: 208px;
	position: relative;
	z-index: 2;
    overflow-x: hidden;
}

/* page lottery */
.page-lottery {
	background: url(../images/bg-lottery.jpg) top center repeat-x;
	padding-bottom: 214px;
}

.lottery-content {
	width: 430px;
}

.lottery-content h2 {
	color: #fff;
	font-size: 92px;
	font-weight: 700;
	line-height: 83px;
	margin: 0 0 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.lottery-content p {
	font-size: 18px;
	color: #fff;
	line-height: 22px;
	margin: 0 0 30px;
}

.lottery-content .lottery-btn {
	background: #ffbf00;
	color: #fff;
	font: 700 20px Arial;
	max-width: 262px;
	display: block;
	text-align: center;
	text-decoration: none;
	line-height: 62px;
	box-shadow: none;
	transition: 0.2s ease-out;
}

.lottery-content .lottery-btn:hover {
	box-shadow: 4px 4px 0 rgba(255,191,0,0.3);
	text-shadow: 1px 1px 0px #000;
}

#lotto { padding-top: 150px; }
#lotto .lottery-content { float: right; }

#keno { padding-top: 256px; }
#keno .lottery-content { margin-left: 118px; }

#ilotto { padding-top: 372px; }
#ilotto .lottery-content { float: right; }

.ilotto-result {
	float: left;
	font-size: 0;
	margin-left: 77px;
	margin-top: 60px;
	text-align: center;
	width: 580px;
}

.ilotto-result div {
	background: url(../images/ilotto-bg.png) center no-repeat;
	color: #fff;
	display: inline-block;
	font: 51px Impact, Charcoal, sans-serif;
	height: 153px;
	width: 146px;
	padding: 26px 0 0 27px;
	margin: 0 -18px;
}

.ilotto-result div span {
	display: table-cell;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 89px;
}

/*poker*/
.poker-page .wrap-panel {
   width: 1000px;
}

.poker-slide-container {
   height: 570px;
   background: #353535;
}

.poker-slide.owl-carousel .owl-item img {
   max-height: 570px;
}

.poker-slide .owl-nav {
   position: absolute;
   top:0;
   width: 100%;
   height: 100%;
}

.poker-slide .owl-nav .owl-prev,
.poker-slide .owl-nav .owl-next {
   width: 40px;
   height:62px;
   position: absolute;
   top: 50%;
   margin-top: -31px;
   text-indent: -999em;
}

.poker-slide .owl-nav .owl-prev {
   left:200px;
   background: url(../images/poker/arrow-left.png) center no-repeat;
}

.poker-slide .owl-nav .owl-next {
   right: 200px;
   background: url(../images/poker/arrow-right.png) center no-repeat;
}

.poker-challenge {
   padding: 114px 0 91px;
   background: #efeae7;
}

.pc-content {
   width: 390px;
   float: left;
   margin-top: 89px;
}

.pc-content h2 {
   font-family: 'Oswald', sans-serif;
   color: #353535;
   margin:0 0 13px;
   font-size: 45px;
   font-weight: 400;
   line-height: normal;
}

.pc-content p {
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
   font-size: 22px;
   color: #353535;
   margin: 0 0 27px;
   text-align: justify;
}

.pc-img {
   float: right;
}

.pc-img img {
   display: block;
   margin: 0;
}

.poker-deck {
   position: relative;
   background: #004251;
   text-align: center;
   padding: 65px 0 92px;
}

.poker-deck .deck-conntainer {
   position: relative;
   z-index: 2;
}

.poker-deck .posr {
   display: block;
   position: relative;
   margin: 0 auto;
}

.poker-deck img.spade {
   margin-top: 23px;
}

.poker-deck .pd-content {
   max-width: 770px;
   margin: 40px auto 0;
}

.poker-deck .pd-content p {
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
   font-size: 22px;
   text-align: justify;
   color: #fff;
   margin: 0;
}

.poker-deck img.chip {
   position: absolute;
   z-index: 1;
}

.poker-deck img.chip-gray {
   left: 0;
   top: -154px;
}

.poker-deck img.chip-blue {
   right: 0;
   bottom: 0;
}

.poker-deck img.chip-yello {
   top: -165px;
   right: -91px;
}

.poker-deck img.chip-pink {
   left: 22px;
   bottom: 87px;
}

/* divider */
.hasDivider {
    position: relative;
    z-index: 6;
}

.hasDivider:after {
    background: url(../images/casino/divider.png) top center repeat-x;
    clear: both;
    content: '';
    display: block;
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: -13px;
    left: 0;
    z-index: 2;
}

/* casino */
#platform {
    background: url(../images/casino/platform-bg.jpg) top center repeat-x;
    background-size: 100% 100%;
    font-size: 0;
    padding: 15px 0;
}

.prodlink {
    position: relative;
    z-index: 1;
}

.platform {
   display: inline-block;
   margin: 0 5px;
   cursor: pointer;
}

.platform img {
   height: 445px;
}

.platform-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 2;
    padding: 13px 0 0;
    display: none;
}

.platform-content .single-content {
    display: none;
}

.platform-content .single-content.active {
    display: block;
}

.platform-content img {
    float: left;
    width: 277px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.platform-content img.custom {
    top: 34px;
}

.platform-content .detail {
    float: left;
    width: 70%;
    padding-top: 10%;
    text-align: center;
    margin-left: 5%;
}

.platform-content .detail p {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.platform-content .detail a {
    background: #ffcc00;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    max-width: 276px;
    margin: 10px auto 0;
    line-height: 68px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    transition: 0.3s ease;
}

.platform-content .pc-close {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    background: none;
    outline: 0 !important;
    font-family: Arial;
    cursor: pointer;
}

/* casino banner detail */
.cbd img {
    display: block;
    margin: 0 auto;
}

.cbd a {
    background: #ffcc00;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    max-width: 276px;
    margin: 25px auto 0;
    line-height: 68px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    transition: 0.3s ease;
}

.cbd a:hover {
    opacity: 0.8;
}

#banner-casino {
    background: url(../images/casino/banner-casino.jpg) top center repeat-x;
    background-size: 100% 538px;
    padding: 138px 0 136px;
    z-index: 5;
}

#banner-casino .cbd,
#banner-live-casino .cbd{
    float: left;
}

#banner-royal-suite {
    background: url(../images/casino/banner-royal-suite.jpg) top center repeat-x;
    background-size: 100% 543px;
    padding: 82px 0 130px;
}

#banner-royal-suit .cbd {
    float: left;
    margin-left: 50px;
}

#banner-live-casino {
    background: url(../images/casino/banner-live-casino.jpg) top center repeat-x;
    background-size: 100% 543px;
    z-index: 4;
    padding: 147px 0 157px;
}

#banner-casino-royal {
    background: url(../images/casino/banner-casino-royal.jpg) top center repeat-x;
    background-size: 100% 543px;
    z-index: 3;
    padding: 132px 0 186px;
}

#banner-casino-royal .cbd {
    float: left;
    margin-left: 370px;
}

/* manage | payment */
.page-manage {
	background: #fff;
}

h1.page-title {
	background: #038842;
	color :#fff;
	display: block;
	font: 16px Arial;
	line-height: 29px;
	margin: 0;
	text-indent: 14px;
}

.manage-header { 
	padding: 35px 45px;
}

.acct-profile {
	float: left;
}

.acct-profile img {
	display: block;
	margin: 0;
}

.acct-notification {
	float: left;
	margin-left: 20px;
}

.acct-notification p {
	font-size: 11px;
	color: #808080;
	margin: 1px 0 0;
}

.acct-notification .text-red {
	font-size: 14px;
}

.acct-notification ul {
	margin: 21px 0 0; 
	padding: 0;
	list-style-type: none;
}

.acct-notification ul li {
	margin: 0;
	padding: 0 20px 0 0;
	display: table-cell;
	vertical-align: bottom;
	height: 24px;
}

.acct-notification ul li img {
	margin: 0;
	display: block;
	cursor: pointer;
}

.acct-balance {
	float: left;
}

.acct-balance ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.acct-balance ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: 180px;
	text-align: center;
}

.acct-balance ul li i {
	display: block;
	widows: 15px;
	height: 15px;
	background: url(../images/icon-refresh.png) center no-repeat;
	margin-bottom: 16px;
}

.acct-balance ul li span {
	color: #038842;
	font-weight: 700;
	font-size: 18px;
	display: block;
	line-height: 22px;
	margin-bottom: 6px;
}

.acct-balance ul li span img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 1px;	
}

.acct-balance ul li label {
	color: #808080;
	font-size: 11px;
}

.account-mngr {
	width: 1162px;
	margin: 0 auto;
}

.acct-mngr-nav {
	float: left;
	width: 180px;
	background: #e4e4e4;
}

.acct-mngr-nav ul {
	margin: 0;
	padding: 0;
	display: block;
	width: 180px;
	list-style: none;
}

.acct-mngr-nav ul li {
	border-bottom: thin solid #fff;
	display: block;
	margin: 0;
	padding: 0;

	transition: 0.2s linear;
}

.acct-mngr-nav ul li a {
	display: block;
	font: 700 12px Arial;
	color: #808080;
	padding: 15px 0;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;

	transition: 0.2s linear;
}

.acct-mngr-nav ul li:hover,
.acct-mngr-nav ul li.active {
	background: #e6bd1f;
}

.acct-mngr-nav ul li:hover a,
.acct-mngr-nav ul li.active a {
	color: #fff;
}

.acct-mngr-content {
	border-left: thin solid #fff;
	float: left;
	width: 84.51%;
	background: #ebebeb;
	min-height: 270px;
}

.acct-mngr-content iframe {
	display: block;
	width: 100%;
}

/* popup */
body.login {
   background: none;
}

#login {
   background: #1c5e49;
   border: thin solid #fff;
   border-top: 5px solid #fff;
   width: 515px;
   margin: 0 auto;
   padding: 20px;
}

.login-banner {
   float: left;
}

.login-banner img {
   display: block;
   margin: 0;
}

.login-form {
   margin: 5px 5px 0 0;
   padding: 22px 0 0 28px;
   float: right;
   border-left: thin solid #000;
}

.login-form ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.login-form li {
   display: block;
   margin: 0 0 5px;
   padding: 0;
}

.login-form li .txtField {
   background: #fff;
   font: 700 12px Arial;
   width: 176px;
   border: none;
   display: block;
   margin: 0;
   padding: 6px 5px;
   outline: 0 !important;
   color: #000 ;
}

.login-form li .txtField::-webkit-input-placeholder {  color: #000; }
.login-form li .txtField::-moz-placeholder {  color: #000; }
.login-form li .txtField:-ms-input-placeholder {  color: #000; }
.login-form li .txtField:-moz-placeholder {  color: #000; }

.login-form li .login-btn {
   background: #ffbf00;
   color: #fff;
   font: 700 12px Arial;
   text-align: center;
   width: 176px;
   border: none;
   outline: 0 !important;
   line-height: 37px;
   margin-top: 11px;
   letter-spacing: 1px;
}

.login-form li.inline {
   padding-top: 5px;
   text-align: center;
}

.login-form li.inline #remember,
.login-form li.inline a {
   display: inline-block;
}

.login-form li.inline a {
   color: #fff;
   font: 700 12px Arial;
   text-decoration: none;
   position: relative;
   top:0px;
}

/* footer */
#footer {
	background: #007028;
	padding-top: 46px;
	padding-bottom: 30px;
	position: relative;
	z-index: 1;
}

#footer .ftr-left { float: left; }
#footer .ftr-right {
	float: right;
	margin-right: 115px;
}

#footer p {
	font-size: 11px;
	color: #acacac;
	margin: 0 0 10px 18px;
}

#footer img {
	display: block;
	margin: 0;
}

/* key frames animattion */
@-webkit-keyframes hvr-icon-buzz-out {
  10% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  20% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
   }
  30% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  40% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
   }
  50% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  60% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  70% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  80% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  90% {
   	-webkit-transform: translateX(1px) rotate(0);
   	transform: translateX(1px) rotate(0);
   }
  100% {
   	-webkit-transform: translateX(-1px) rotate(0);
   	transform: translateX(-1px) rotate(0);
   }
}
@keyframes hvr-icon-buzz-out {
  10% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
   }
  20% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
  	}
  30% {
   	-webkit-transform: translateX(3px) rotate(2deg);
   	transform: translateX(3px) rotate(2deg);
  	}
  40% {
   	-webkit-transform: translateX(-3px) rotate(-2deg);
   	transform: translateX(-3px) rotate(-2deg);
  	}
  50% {
   	-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
  	}
  60% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  70% {
  		-webkit-transform: translateX(2px) rotate(1deg);
   	transform: translateX(2px) rotate(1deg);
   }
  80% {
   	-webkit-transform: translateX(-2px) rotate(-1deg);
   	transform: translateX(-2px) rotate(-1deg);
   }
  90% {
   	-webkit-transform: translateX(1px) rotate(0);
   	transform: translateX(1px) rotate(0);
   }
  100% {
   	-webkit-transform: translateX(-1px) rotate(0);
   	transform: translateX(-1px) rotate(0);
   }
}
